# Naive Bayes from Scratch

In [1]:
#imports
from sklearn.datasets import fetch_20newsgroups
# we will use sklearn for only dataset, algorithm is implemented by ourselves
# we wont be using naive bayes from sklearn
import pandas as pd
import numpy as np
from naiveBayes import NaiveBayes
from preprocesser import cleaner,stemmer

In [2]:
categories=['alt.atheism', 'soc.religion.christian','comp.graphics', 'sci.med'] 
newsgroups_train=fetch_20newsgroups(subset='train',categories=categories)
# There are altogether 20 categories

train_data = newsgroups_train.data
train_labels = newsgroups_train.target

print(f"Total numbers of trained data and labels are : {len(train_data)} : {len(train_labels)}")

Total numbers of trained data and labels are : 2257 : 2257

# The data and label we loaded looks like following in table form

In [3]:
pd.options.display.max_colwidth=250
pd.DataFrame(data=np.column_stack([train_data,train_labels]),columns=["Training Examples","Training Labels"]).head()

,Training Examples,Training Labels
0,From: sd345@city.ac.uk (Michael Collier)\nSubject: Converting images to HP LaserJet III?\nNntp-Posting-Host: hampton\nOrganization: The City University\nLines: 14\n\nDoes anyone know of a good way (standard PC application/PD utility) to\nconvert ...,1
1,"From: ani@ms.uky.edu (Aniruddha B. Deglurkar)\nSubject: help: Splitting a trimming region along a mesh \nOrganization: University Of Kentucky, Dept. of Math Sciences\nLines: 28\n\n\n\n\tHi,\n\n\tI have a problem, I hope some of the 'gurus' can he...",1
2,"From: djohnson@cs.ucsd.edu (Darin Johnson)\nSubject: Re: harrassed at work, could use some prayers\nOrganization: =CSE Dept., U.C. San Diego\nLines: 63\n\n(Well, I'll email also, but this may apply to other people, so\nI'll post also.)\n\n>I've b...",3
3,"From: s0612596@let.rug.nl (M.M. Zwart)\nSubject: catholic church poland\nOrganization: Faculteit der Letteren, Rijksuniversiteit Groningen, NL\nLines: 10\n\nHello,\n\nI'm writing a paper on the role of the catholic church in Poland after 1989. \n...",3
4,"From: stanly@grok11.columbiasc.ncr.com (stanly)\nSubject: Re: Elder Brother\nOrganization: NCR Corp., Columbia SC\nLines: 15\n\nIn article <Apr.8.00.57.41.1993.28246@athos.rutgers.edu> REXLEX@fnal.gov writes:\n>In article <Apr.7.01.56.56.1993.228...",3

# Datas categories we used are

In [4]:
print ("------------------- Dataset Categories -------------- ") 
print(list(newsgroups_train.target_names))

------------------- Dataset Categories --------------
['alt.atheism', 'comp.graphics', 'sci.med', 'soc.religion.christian']

# Training the dataset

In [5]:
unique_classes = np.unique(train_labels) #unique classes for our model
unique_classes

array([0, 1, 2, 3])

 Training Labels ['alt.atheism', 'comp.graphics', 'sci.med', 'soc.religion.christian'] are changed to their corresponding integer forms. If you don't get this - just accept that Labels are in integer form.

 The above array are the unique integer form

In [6]:
nb = NaiveBayes(unique_classes)

lst = nb.train(train_data,train_labels,stem=True)
# lst
pd.DataFrame(data=lst).head(4)

       0
0  False
1  False
2  False
3  False

# The above code trains data by cleaning and stemming words

In [7]:
#cleaning example
cleaner("Hi :). I am from Nepal. So lol. ")

'hi i am from nepal so lol '

In [13]:
# Stemming example
st = stemmer.PorterStemmer()
st.stem_now("")

'stemm'

TypeError: iteration over a 0-d array