In [5]:
import pandas as pd

trained_set = pd.read_csv("labeledTrainData.tsv",sep="\t")
trained_set

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [7]:
y_train = trained_set['sentiment'].values

array([1, 1, 0, ..., 0, 0, 1])

In [14]:
x_train = trained_set['review'].values

We must generate train data and test data
ie, divide given dataset in different ratio such as 8:1 or 7:1
80% of dataset is used for training and 20% is used for testing the accuracy